<mat-toolbar>
    <span>Administrador de escuela</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="cursos/agregarCursos">Agregar cursos</a>
    <a mat-button routerLink="cursos/listaCursos">Lista de cursos</a>
    <a mat-button routerLink="alumnos/listaAlumnos">Lista de alumnos</a>
    <a mat-button routerLink="alumnos/agregarAlumnos">Agregar alumnos</a>
    <a mat-button routerLink="inscripciones/inscripcionAlumno">Inscripciones</a>
</mat-toolbar>
<mat-drawer-container class="parent">
    <mat-drawer mode="side" opened>
        <div class="content">
            <h3>Proximamente:</h3>
            <mat-list role="list">
                <mat-list-item role="listitem">Sección usuario</mat-list-item>
                <mat-list-item role="listitem">Sección admin</mat-list-item>
            </mat-list>
            <h3>Contacto:</h3>
            <a href="#">Facebook <i class="bi bi-facebook"></i></a><br>
            <a href="#">Instagram <i class="bi bi-instagram"></i></a><br>
            <a href="#">Twitter <i class="bi bi-twitter"></i></a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>